<div class="container-fluid col-xs-6 col-md-6 content">
  <h3 id="title">Start a New Session</h3>
  <h1 id="time"></h1>
  <a href="#" id="session" class="btn btn-success btn-large">START</a>
  <a href="#" id="break" class="btn btn-info btn-large">BREAK</a>
  <a href="#" id="stopSession" class="btn btn-danger btn-large disabled">STOP</a>
</div>
