<div class="container-fluid col-xs-6 col-md-6 content">
  <div class="page-header">
    <h1>About POMODORO</h1>
  </div>
 <div>
   <h3>POMODORO is a method allowing you to get more productive.</h3>
    <p>
      It consist in being focus on a subject during 25 minutes without interuption.
      At the end, you can take a 5 minutes break.
    </p>
    <p>
      Then you start over. When you've done 4 sessions, working + break,
      the fourth break will be a 20 minutes one.
    </p>
    <a href="/session" class="btn btn-success btn-large"> Start New Session </a>
  </div>
</div>
